<!doctype html>
<html data-build-hash="<%= __webpack_hash__ %>" class="no-script <% if (htmlWebpackPlugin.options.dev) { %>dev<% } %>">
    <head>
        <meta charset="utf-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    </head>

    <body>
        <div id="gradient-overlay"></div>

        <div style="display:flex; flex-direction: column;height: 100%;">
            <header>
                <div id="logo">
                    <span id="dev-name">
                        <noscript>aaron escobar</noscript>
                    </span><span id="first-blinker" class="blinker"></span>

                    <div></div>
                    <span id="dev-title">
                        <noscript>web developer</noscript>
                    </span><span id="second-blinker" class="blinker"></span>
                </div>

                <div id="nav-wrapper">
                    <div id="hamburger-wrapper">
                        <button id="hamburger" type="button" aria-label="open menu">
                            <div>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </button>
                    </div>
                    
                    <nav id="main-nav">
                        <ul id="main-nav-links">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Skills</a></li>
                            <li><a href="#">Work</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <main>
                <div id="progress-cont">
                    <svg id="svgelem" width="172" height="172" xmlns="http://www.w3.org/2000/svg">
                        <text text-anchor="middle" x="86" y="86" class="Rrrrr">loading...</text>
                        <g fill="grey"
                        transform="rotate(-90) scale(1, -1) translate(6,6)" transform-origin="92 92">
                            <circle
                            fill="transparent"
                            stroke-width="12px"
                            stroke="#66330022"
                            cx="92" cy="92" r="80" />
                            <circle
                            fill="transparent"
                            stroke-width="12px"
                            stroke="#66330011"
                            cx="92" cy="92" r="70" />
                            
                            <circle 
                            class="spinner-inner-ring" 
                            fill="transparent"
                            stroke-width="12px"
                            stroke-dashoffset="502.654"
                            stroke-dasharray="502.654 502.654"
                            cx="92"
                            cy="92"
                            r="70"
                            />
                            <circle 
                            class="loader-ring" 
                            id="spinner-ring"
                            fill="transparent"
                            stroke-width="12px"
                            stroke-dashoffset="502.654"
                            stroke-dasharray="502.654 502.654"
                            cx="92"
                            cy="92"
                            r="80"
                            />
                        </g>
                    </svg>
                </div>

                <div class="touch-controls">
                    <div class="touch" id="move-left">
                    </div>

                    <div class="touch" id="move-left">
                    </div>
                </div>

                <article id="home-pane">
                    <p>I’m a dev located in Miami coding
                    professionally for over 8 years.</p>

                    <p></p>Looking forward to working together!</p>
                </article>


                
            </main>

            <div class="tutorials">
                <div id="help-this-way" class="arrow">
                    <span>»</span>
                </div>
            </div>
        </div>
    </body>
</html>